<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>842044693224-rdb1ctm0r0v3a8ove5dnhkb43q4visk7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.842044693224-rdb1ctm0r0v3a8ove5dnhkb43q4visk7</string>
	<key>API_KEY</key>
	<string>AIzaSyAb9I7BSbU3FhsBI-3tcelwiuDUpJPrk_0</string>
	<key>GCM_SENDER_ID</key>
	<string>842044693224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mon-doc.RemoteConfigWithFireBase</string>
	<key>PROJECT_ID</key>
	<string>remoteconfigwithfirebase-d5698</string>
	<key>STORAGE_BUCKET</key>
	<string>remoteconfigwithfirebase-d5698.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:842044693224:ios:e3c5c834cf8bd947bc475d</string>
</dict>
</plist>